.container {
max-width: 960px;
}

.cover-container {
max-width: 42em;
}

.iframe-container {
overflow: hidden;
padding-top: 56.25%;
position: relative;
}

.iframe-container iframe {
 border: 0;
 height: 100%;
 left: 0;
 position: absolute;
 top: 0;
 width: 100%;
}
.footer-tag{
color: blue;
}
 @media screen and (max-width: 925px){
   .page-header{
     display:none;
   }
 }
#theButton{
  color:white;
background: linear-gradient(to right, #ee0979, #ff6a00);

}

#theButton:hover{
  color:white;
  background: linear-gradient(to right, #ff6a00, #ee0979);

}

#gradientButton{
  color:white;
  background: linear-gradient(to right, #fc00ff, #00dbde);

}

#gradientButton:hover{
  color:white;
  background: linear-gradient(to right, #00dbde, #fc00ff);
}

 @media screen and (max-width: 992px){
   .desktop-header{
     display:none;
   }
 }
 @media screen and (min-width: 992px){
   .tablet-header{
     display:none;
   }
 }

@media screen and (min-width: 600px){
  .desktop-hide{
    display:none;
  }
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
padding-top: 75
}

.top-background{
background-image: url(../images/compressed.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
/*
* Header
*/
.masthead {
 margin-bottom: 2rem;
 margin-right: auto;
 background-color: rgb(255,255,255, .125);
 padding-right: 15px;
 padding-left: 15px;


}

.masthead-brand {
 margin-bottom: 0;
}

.nav-masthead .nav-link {
 padding: .25rem 0;
 font-weight: 700;
 color: rgba(255, 255, 255, .5);
 background-color: transparent;
 border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
 border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
 margin-left: 3.5rem;
}

.nav-masthead .active {
 color: #fff;
 border-bottom-color: #fff;
}

@media (min-width: 48em) {
 .masthead-brand {
   float: left;
 }
 .nav-masthead {
   float: right;
 }
}
.mobile-header
{
width: 100%;
}

@media screen and (min-width: 460px)
{
.mobile-header {display: none;}
}

@media screen and (max-width: 460px)
{
 .masthead {display: none;}
}


.text-colors{
color: black;
}

h5{
color: white;
}

.nav-colors{
background-color: #e5e9f5;
}
@media screen and (min-width: 1px){
.sponsor-tag{
  display: none;

  }
}
}

.item-one{
float:left;
clear: left;
position: center;
}

.item-two{
float:left;
clear:left;

}

.border-text{
text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
font-weight: bold;
}
.nav-masthead .nav-link {
padding: .25rem 0;
font-weight: 700;
color: rgba(255, 255, 255, .5);
background-color: transparent;
border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
margin-left: 3.5rem;
}

.nav-masthead .active {
color: #fff;
border-bottom-color: #fff;
}

@media (min-width: 48em) {
.masthead-brand {
  float: left;
}
.nav-masthead {
  float: right;
}
}

@media screen and (max-width: 640px)
{
.masthead {display:none;}
}

  @media screen and (min-width: 641px)
  {
.mobile-container {display: none;}
  }

/*
*background stuff
*/
.main-background{
background-image: url("../Images/compressed.jpg");
background-size: cover;
background-position: center center;
background: aqua;
opacity: .75;
}

.first-tile{
background-color: #66ff33
}

.second-tile{
background-color: #00ffff
}
/* need to fix the temporary text background for right now*/
.temporary-background{
background-color: white;
}

.third-tile{
background-color: #ff0000
}

.fourth-tile{
background-color: #ff00ff
}

.px-3{
border-radius: 12px;
}

.button {
    &.dark {
        --background: #2F3545;
        --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
        --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
    }
    &.white {
        --background: #fff;
        --text: #275efe;
        --shadow: 0 2px 8px -1px #{rgba(#121621, .04)};
        --shadow-hover: 0 4px 20px -2px #{rgba(#121621, .12)};
    }
    &.fast {
        --duration: .32s;
    }
}

.button {
    --background: #275efe;
    --text: #fff;
    --font-size: 16px;
    --duration: .44s;
    --move-hover: -4px;
    --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
    --font-shadow: var(--font-size);
    padding: 16px 32px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: var(--font-size);
    border-radius: 24px;
    display: block;
    outline: none;
    text-decoration: none;
    font-size: var(--font-size);
    letter-spacing: .5px;
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateY(var(--y));
    transition: transform var(--duration) ease, box-shadow var(--duration) ease;
    span {
        display: flex;
        overflow: hidden;
        text-shadow: 0 var(--font-shadow) 0 var(--text);
        i {
            display: block;
            backface-visibility: hidden;
            font-style: normal;
            transition: transform var(--duration) ease;
            transform: translateY(var(--m));
            $i: 1;
            @while $i < 12 {
                &:nth-child(#{$i}) {
                    transition-delay: $i / 20 + s;
                }
                $i: $i + 1;
            }
        }
    }
    &:hover {
        --y: var(--move-hover);
        --shadow: var(--shadow-hover);
        i {
            --m: calc(var(--font-size) * -1);
        }
    }
    &.reverse {
        --font-shadow: calc(var(--font-size) * -1);
        &:hover {
            i {
                --m: calc(var(--font-size));
            }
        }
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    display: flex;
    font-family: 'Roboto', Arial;
    justify-content: center;
    align-items: center;
    background: #E4ECFA;
    .button {
        margin: 0 12px;
    }
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
}
/*
* Extra utilities
*/

.flex-equal > * {
-ms-flex: 1;
flex: 1;
}


.overflow-hidden { overflow: hidden; }

body, html {
height: 100%;
margin: 0;
padding: 0;
font: 400 15px/1.8 "Lato", sans-serif;
color: #777;
overflow-x: hidden;
}

.bgimg-1 {
position: relative;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.bgimg-1 {
background-image: url("../images/mammamia-compressed.jpg");
min-height: 100%;

}

@media screen and (max-width: 500px)
{
.bgimg-1{
  display:none;
}
}

.caption {
position: absolute;
left: 0;
top: 35%;
width: 100%;
text-align: center;
color: #000;
}

.caption span.border {
color: black;
padding: 18px;
font-size: 25px;
letter-spacing: 10px;
font-weight: bold
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 800px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
  }
}

.outline-1{
border-color: #aaff7f;
}

.outline-1:hover{
background-color: #aaff7f;
}

.outline-2{
border-color: #7fffd4;
}

.outline-2:hover{
background-color: #7fffd4;
}

.outline-3{
border-color: #d47fff;
}

.outline-3:hover{
background-color: #d47fff;
}

.outline-4{
border-color: #ff7faa;
}

.outline-4:hover{
background-color: #ff7faa;
}

.bg-1{
background-color: #6e6e6e;
color: white;
}

.padding-top{
padding-top: 75px;
}


a {
color: #f06d06;
text-decoration: none;
}

.box-1 {
padding: 2em;
border: 1px solid #ccc;
display: block;
width: 50%;
height: 300px;
float: left;
margin: -1px 0 0 -1px;
color: black;
background: linear-gradient(
   #aaff7f, #aaff7f 50%, #333 50%, #333
);
background-size: 100% 202%;
transition: all 0.2s ease;
animation: up-bump 0.4s ease;
text-align: center;

}
.box-1 h2 {
font-weight: 400;
letter-spacing: -1.5px;
line-height: 1.2;
}


.box-1:hover {
background-position: 100% 100%;
animation: up-bump 0.4s ease;
}
.box-1:hover h2 {
color: #48ad26;
}
.box-1:hover h2 span {
color: white;
}
/*
@keyframes up-bump {
0% { padding-top: 2em; }
50% { padding-top: 1.5em; }
100% { padding-top: 2em; }
}
*/
.box-1:hover {
animation: up-bump 0.4s ease;
}
.box-1:hover p{
color:white;
}
.box-1:hover h3{
color:white;
}


.box-2 {
padding: 2em;
border: 1px solid #ccc;
display: block;
width: 50%;
height: 300px;
float: left;
margin: -1px 0 0 -1px;
color: black;
background: linear-gradient(
   #7fffd4, #7fffd4 50%, #333 50%, #333
);
background-size: 100% 202%;
transition: all 0.2s ease;
animation: down-bump 1s ease;
}


.box-2:hover {
background-position: 100% 100%;
animation: up-bump 0.4s ease;
}
.box-2:hover h2 {
color: #48ad26;
}
.box-2:hover h2 span {
color: #48ad26;
}
.box-2:hover h3 {
color: white;
}
.box-2:hover p{
color:white
}


.box-3 {
padding: 2em;
border: 1px solid #ccc;
display: block;
width: 50%;
height: 300px;
float: left;
margin: -1px 0 0 -1px;
color: black;
background: linear-gradient(
   #d47fff, #d47fff 50%, #333 50%, #333
);
background-size: 100% 202%;
transition: all 0.2s ease;
animation: down-bump 0.4s ease;
display:inline-block;
}
.box-3 h2 {
font-weight: 400;
letter-spacing: -1.5px;
line-height: 1.2;
}

.box-3:hover h3{
color:white
}
.box-1, .box-2, .box-3{
display:flex;
flex: wrap;
}
body{
overflow-x: hidden;
}
.box-3:hover {
background-position: 100% 100%;
animation: up-bump 0.4s ease;
}
.box-3:hover h2 {
color: #48ad26;
}
.box-3:hover h2 span {
color: white;
}

.box-3:hover p{
color:white;
}
@media screen and (max-width: 600px)
{
.mobile-hide{
  display:none
}
}

body{

  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

}

@media screen and (max-width: 991px){
  .desktopScrolling{
    display:none;
  }
}
@media screen and (min-width: 992px){
  .mobileScrolling{
    display:none;
  }
}
