/*
 * Header
 */

.masthead {

  margin-bottom: 2rem;
  background-color: rgb(255,255,255, .125);
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 3.5rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

h5{
  color: white;
}

.nav-colors{
  background-color: #e5e9f5;
}

@media only screen and (max-width: 600px){
.ticketWidget{
  display:none;
}
}

@media only screen and (min-width: 600px){
.largeHide{
  display:none;
}
}
